#add-contact-button:hover {
    background-color: #00b300;
    border-width: 0rem;
}

#add-contact-button {
    background-color: limegreen;
    transition: background-color 0.1s ease-in;
    border-width: 0rem;
}

#add-contact-form {
    background-color: whitesmoke;
    max-width: 100%;
    width: 40rem;
    border: 0.1rem solid lightgray;
    border-radius: 1rem;
    padding:0.5rem;
    margin:auto;
    margin-top:0.5rem;

    position: absolute;
    top:17rem;
    left:50%;
    transform: translate(-50%, 0);
}

#add-contact-form h5 {
    color:rgb(101, 116, 131);
}

#add-contact-form input {
    padding:0.5rem;
    margin:0.2rem;
    margin-top:0rem;
    margin-bottom:0.5rem;
}

.input-column {
    display: flex;
    flex-direction: column;
    padding:0.5rem;
}

.field-label {
    text-align:left;
    padding-left:0.5rem;
}

.contact-display {
    width:80%;
    margin:auto;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
}

.contact-card {
    width:25rem;
    min-width:10rem;
    margin:1rem;
    padding:1rem;
}

.contact-avatar {
    width:8rem;
    height:8rem;
    border-radius: 100%;
    border-width: 0.1rem;
    border-color: gray;
    border-style:solid;
    margin:auto;
    object-fit:cover;
}